<a href="https://colab.research.google.com/github/JunnieLee/data_science_tutorials/blob/master/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSV files

In [0]:
import pandas as pd

def add_full_name(path_to_csv, path_to_new_csv):
    #Assume you will be reading in a csv file with the same columns that the
    #Lahman baseball data set has -- most importantly, there are columns
    #called 'nameFirst' and 'nameLast'.
    #1) Write a function that reads a csv
    #located at "path_to_csv" into a pandas dataframe and adds a new column
    #called 'nameFull' with a player's full name.
	  #2) Write the data in the pandas dataFrame to a new csv file located at
	  #path_to_new_csv

    df = pd.read_csv(path_to_csv)
    df['nameFull']=df['nameFirst']+' '+df['nameLast']
    
    df.to_csv(path_to_new_csv) # 저 파일경로에다가 위에 우리가 만든 dataframe을 덮어씌움

    return new_df

if __name__ == "__main__":
    path_to_csv = ""
    path_to_new_csv = ""
    add_full_name(path_to_csv, path_to_new_csv)

# Relational Database


- It is straightforward to extract aggregated data with complex filters
- A database scales well
- It ensures all data is consistently formatted

In [7]:
from google.colab import files

file = files.upload()

Saving Master.csv to Master (1).csv

In [3]:
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.14.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (0.22.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.2.16)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas->pandasql) (1.11.0)
Building wheels for collected packages: pandasql
  Running setup.py bdist_wheel for pandasql ... - \ done
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [0]:
import pandas
import pandasql

def select_first_50(filename):
  
    # Read in our aadhaar_data csv to a pandas dataframe.  Afterwards, we rename the columns
    # by replacing spaces with underscores and setting all characters to lowercase, so the
    # column names more closely resemble columns names one might find in a table.
    
    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Select out the first 50 values for "registrar" and "enrolment_agency"
    # in the aadhaar_data table using SQL syntax. 
    # Note that the order of the select does matter. 
    
    q="""
    SELECT
    registrar, enrolment_agency
    FROM
    aadhaar_data
    LIMIT 50;
    """
  
    #Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

In [0]:
import pandas
import pandasql

def aggregate_query(filename):

    aadhaar_data = pandas.read_csv(filename)
    aadhaar_data.rename(columns = lambda x: x.replace(' ', '_').lower(), inplace=True)

    # Write a query that will select from the aadhaar_data table how many men and how 
    # many women over the age of 50 have had aadhaar generated for them in each district.
    # aadhaar_generated is a column in the Aadhaar Data that denotes the number who have had
    # aadhaar generated in each row of the table.

    # Note that in this quiz, the SQL query keywords are case sensitive. 
    # For example, if you want to do a sum make sure you type 'sum' rather than 'SUM'.

    # The possible columns to select from aadhaar data are:
    #     1) registrar
    #     2) enrolment_agency
    #     3) state
    #     4) district
    #     5) sub_district
    #     6) pin_code
    #     7) gender
    #     8) age
    #     9) aadhaar_generated
    #     10) enrolment_rejected
    #     11) residents_providing_email,
    #     12) residents_providing_mobile_number
        
    q = """
    SELECT
    gender, district, sum(aadhaar_generated)
    FROM
    aadhaar_data
    WHERE
    age > 50
    GROUP BY
    gender, district; 
    """
    # aggregated funcion인 sum을 이용하기 때문에
    # aggregated되지 않는 field들로 GROUP BY를 해줘야 함!
    
    # Execute your SQL command against the pandas frame
    aadhaar_solution = pandasql.sqldf(q.lower(), locals())
    return aadhaar_solution

# APIs

In [0]:
import json
import requests

def api_get_request(url):
  # Make our API calls using the requests library.
  data = requests.get(url).text
  # Load the result as a python dict.
  data = json.loads(data)
  
  return data['topartists']['artist'][0]['name']

In [0]:
api_get_request("http://ws.audioscrobbler.com/2.0/?method=geo.gettopartists&country=spain&api_key=YOUR_API_KEY&format=json")

# Imputation

In [0]:
import pandas
import numpy

def imputation(filename):
    # Pandas dataframes have a method called 'fillna(value)', such that you can
    # pass in a single value to replace any NAs in a dataframe or series. You
    # can call it like this: 
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Using the numpy.mean function, which calculates the mean of a numpy
    # array, impute any missing values in our Lahman baseball
    # data sets 'weight' column by setting them equal to the average weight.
    # 
    # You can access the 'weight' colum in the baseball data frame by
    # calling baseball['weight']

    baseball = pandas.read_csv(filename)
    
    #YOUR CODE GOES HERE
    
    print(numpy.mean(baseball['weight']))
    
    baseball['weight'] = baseball['weight'].fillna(numpy.mean(baseball['weight']))
    
    return baseball

In [23]:
imputation('Master.csv')

185.56267991194898

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205.00000,75.0,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.00000,72.0,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.00000,75.0,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.00000,75.0,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.00000,73.0,L,L,9/10/2001,4/13/2006,abada001,abadan01
5,abadfe01,1985.0,12.0,17.0,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220.00000,73.0,L,L,7/28/2010,9/27/2014,abadf001,abadfe01
6,abadijo01,1854.0,11.0,4.0,USA,PA,Philadelphia,1905.0,5.0,17.0,...,Abadie,John W.,192.00000,72.0,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877.0,4.0,15.0,USA,PA,Latrobe,1957.0,1.0,6.0,...,Abbaticchio,Edward James,170.00000,71.0,R,R,1897-09-04,9/15/1910,abbae101,abbated01
8,abbeybe01,1869.0,11.0,11.0,USA,VT,Essex,1962.0,6.0,11.0,...,Abbey,Bert Wood,175.00000,71.0,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866.0,10.0,14.0,USA,NE,Falls City,1926.0,4.0,27.0,...,Abbey,Charles S.,169.00000,68.0,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862.0,3.0,16.0,USA,OH,Portage,1930.0,2.0,13.0,...,Abbott,Leander Franklin,190.00000,71.0,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874.0,10.0,22.0,USA,OH,Versailles,1935.0,6.0,11.0,...,Abbott,Harry Frederick,180.00000,70.0,R,R,4/25/1903,9/20/1905,abbof101,abbotfr01
12,abbotgl01,1951.0,2.0,16.0,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200.00000,78.0,R,R,7/29/1973,8/8/1984,abbog001,abbotgl01
13,abbotje01,1972.0,8.0,17.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190.00000,74.0,R,L,6/10/1997,9/29/2001,abboj002,abbotje01
14,abbotji01,1967.0,9.0,19.0,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200.00000,75.0,L,L,4/8/1989,7/21/1999,abboj001,abbotji01
15,abbotku01,1969.0,6.0,2.0,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180.00000,71.0,R,R,9/7/1993,4/13/2001,abbok002,abbotku01
16,abbotky01,1968.0,2.0,18.0,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200.00000,76.0,L,L,9/10/1991,8/24/1996,abbok001,abbotky01
17,abbotod01,1888.0,9.0,5.0,USA,PA,New Eagle,1933.0,4.0,13.0,...,Abbott,Ody Cleon,180.00000,74.0,R,R,9/10/1910,10/15/1910,abboo101,abbotod01
18,abbotpa01,1967.0,9.0,15.0,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185.00000,75.0,R,R,8/21/1990,8/7/2004,abbop001,abbotpa01
19,aberal01,1927.0,7.0,31.0,USA,OH,Cleveland,1993.0,5.0,20.0,...,Aber,Albert Julius,195.00000,74.0,L,L,9/15/1950,9/11/1957,abera101,aberal01
20,abercda01,1850.0,1.0,2.0,USA,OK,Fort Towson,1939.0,11.0,11.0,...,Abercrombie,Francis Patterson,185.56268,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980.0,7.0,15.0,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215.00000,75.0,R,R,4/4/2006,9/28/2008,aberr001,abercre01
22,abernbi01,1929.0,1.0,30.0,USA,CA,Torrance,2006.0,2.0,19.0,...,Abernathie,William Edward,190.00000,70.0,R,R,9/27/1952,9/27/1952,aberb101,abernbi01
23,abernbr01,1977.0,9.0,23.0,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185.00000,73.0,R,R,6/25/2001,9/29/2005,aberb001,abernbr01
24,abernte01,1921.0,10.0,30.0,USA,NC,Bynum,2001.0,11.0,16.0,...,Abernathy,Talmadge Lafayette,210.00000,74.0,R,L,9/19/1942,4/29/1944,abert102,abernte01
25,abernte02,1933.0,3.0,6.0,USA,NC,Stanley,2004.0,12.0,16.0,...,Abernathy,Theodore Wade,215.00000,76.0,R,R,4/13/1955,9/30/1972,abert101,abernte02
26,abernwo01,1915.0,2.0,1.0,USA,NC,Forest City,1994.0,12.0,5.0,...,Abernathy,Virgil Woodrow,170.00000,72.0,L,L,7/28/1946,4/17/1947,aberw101,abernwo01
27,aberscl01,1921.0,8.0,28.0,USA,IL,Chicago,1973.0,6.0,23.0,...,Aberson,Clifford Alexander,200.00000,72.0,R,R,7/18/1947,5/9/1949,aberc101,aberscl01
28,ablesha01,1883.0,10.0,4.0,USA,TX,Terrell,1951.0,2.0,8.0,...,Ables,Harry Terrell,200.00000,74.0,R,L,9/4/1905,5/5/1911,ableh101,ablesha01
29,abnersh01,1966.0,6.0,17.0,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190.00000,73.0,R,R,9/8/1987,10/3/1992,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18559,zimmejo01,1975.0,4.0,28.0,CAN,BC,Kelowna,NaN,NaN,NaN,...,Zimmerman,Jordan William,200.00000,72.0,R,L,5/17/1999,7/2/1999,zimmj002,zimmejo01
18560,zimmejo02,1986.0,5.0,23.0,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,220.00000,74.0,R,R,4/20/2009,9/28/2014,zimmj003,zimmejo02
18561,zimmero01,1916.0,9.0,13.0,USA,PA,Pine Grove,1991.0,11.0,22.0,...,Zimmerman,Roy Franklin,187.00000,74.0,L,L,8/27/1945,9/30/1945,zimmr101,zimmero01
18562,zimmery01,1984.0,9.0,28.0,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,220.00000,75.0,R,R,9/1/2005,9/28/2014,zimmr001,zimmery01
18563,zinkch01,1979.0,8.0,26.0,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190.00000,73.0,R,R,8/12/2008,8/12/2008,zinkc001,zinkch01
18564,zinkwa01,1898.0,11.0,21.0,USA,MA,Pittsfield,1964.0,6.0,12.0,...,Zink,Walter Noble,165.00000,72.0,R,R,7/6/1921,7/19/1921,zinkw101,zinkwa01
18565,zinnfr01,1865.0,12.0,21.0,USA,PA,Phoenixville,1936.0,5.0,12.0,...,Zinn,Frank Patrick,150.00000,68.0,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
18566,zinngu01,1887.0,2.0,13.0,USA,WV,Holbrook,1949.0,10.0,6.0,...,Zinn,Guy,170.00000,70.0,L,R,9/11/1911,9/16/1915,zinng101,zinngu01
18567,zinnji01,1895.0,1.0,21.0,USA,AR,Benton,1991.0,2.0,26.0,...,Zinn,James Edward,195.00000,72.0,L,R,9/4/1919,8/25/1929,zinnj101,zinnji01
18568,zinsebi01,1918.0,1.0,6.0,USA,NY,Astoria,1993.0,2.0,16.0,...,Zinser,William Francis,185.00000,73.0,R,R,8/19/1944,8/26/1944,zinsb101,zinsebi01
18569,zinteal01,1968.0,5.0,19.0,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200.00000,74.0,B,R,6/18/2002,10/3/2004,zinta001,zinteal01
18570,zipfebu01,1938.0,11.0,18.0,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200.00000,75.0,L,R,7/26/1961,9/30/1962,zipfb101,zipfebu01
18571,ziskri01,1949.0,2.0,6.0,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200.00000,73.0,R,R,9/8/1971,9/21/1983,ziskr101,ziskri01
18572,zitoba01,1978.0,5.0,13.0,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205.00000,74.0,L,L,7/22/2000,9/29/2013,zitob001,zitoba01
18573,zitzmbi01,1895.0,11.0,19.0,USA,NY,Long Island City,1985.0,5.0,29.0,...,Zitzmann,William Arthur,175.00000,70.0,R,R,4/27/1919,9/25/1929,zitzb101,zitzmbi01
18574,zmiched01,1884.0,10.0,1.0,USA,OH,Cleveland,1950.0,8.0,20.0,...,Zmich,Edward Albert,180.00000,72.0,L,L,7/23/1910,6/1/1911,zmice101,zmiched01
18575,zobribe01,1981.0,5.0,26.0,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210.00000,75.0,B,R,8/1/2006,9/27/2014,zobrb001,zobribe01
18576,zoccope01,1977.0,2.0,6.0,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200.00000,74.0,L,R,9/5/2003,9/28/2003,zoccp001,zoccope01
18577,zoldasa01,1918.0,12.0,8.0,USA,NY,Brooklyn,1966.0,8.0,25.0,...,Zoldak,Samuel Walter,185.00000,71.0,L,L,5/13/1944,8/26/1952,zolds101,zoldasa01
18578,zoskyed01,1968.0,2.0,10.0,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175.00000,72.0,R,R,9/2/1991,10/1/2000,zoske001,zoskyed01
18579,zuberbi01,1913.0,3.0,26.0,USA,IA,Middle Amana,1982.0,11.0,2.0,...,Zuber,William Henry,195.00000,74.0,R,R,9/16/1936,9/23/1947,zubeb101,zuberbi01
18580,zuberjo01,1969.0,12.0,10.0,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190.00000,73.0,L,L,4/19/1996,9/27/1998,zubej001,zuberjo01
18581,zuletju01,1975.0,3.0,28.0,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230.00000,78.0,R,R,4/6/2000,6/25/2001,zulej001,zuletju01
18582,zumayjo01,1984.0,11.0,9.0,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215.00000,75.0,R,R,4/3/2006,6/28/2010,zumaj001,zumayjo01
18583,zuninmi01,1991.0,3.0,25.0,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220.00000,74.0,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01
18584,zupcibo01,1966.0,8.0,18.0,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220.00000,76.0,R,R,9/7/1991,8/4/1994,zupcb001,zupcibo01
18585,zupofr01,1939.0,8.0,29.0,USA,CA,San Francisco,2005.0,3.0,25.0,...,Zupo,Frank Joseph,182.00000,71.0,L,R,7/1/1957,5/9/1961,zupof101,zupofr01
18586,zuvelpa01,1958.0,10.0,31.0,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173.00000,72.0,R,R,9/4/1982,5/2/1991,zuvep001,zuvelpa01
18587,zuverge01,1924.0,8.0,20.0,USA,MI,Holland,2014.0,9.0,8.0,...,Zuverink,George,195.00000,76.0,R,R,4/21/1951,6/15/1959,zuveg101,zuverge01
18588,zwilldu01,1888.0,11.0,2.0,USA,MO,St. Louis,1978.0,3.0,27.0,...,Zwilling,Edward Harrison,160.00000,66.0,L,L,8/14/1910,7/12/1916,zwild101,zwilldu01